* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-inline: 70px;
  padding-block: 30px;
  font-family: 'Poppins', serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

@media (max-width: 700px) {
  body {
    padding-inline: 20px;
  }
}
