.nav-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  text-transform: uppercase;
  font-family: 'Poppins', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.btn-nav{
  background-color: #D01C28;
  padding: 6px 16px;
  font-family: 16px;
  color:#ffffff;
  border: none;
  width:75px;
  height: 31px;
}

.MobileNavigation{
  display: none;
}

.HamburgerMenu{
  position: absolute;
  right: 2%;
  top:6%;
  cursor: pointer;
}

/* Styles for screens smaller than 480px */
@media (max-width: 650px) {
  .menu {
    gap: 10px;
    font-size: 14px;
    font-weight: 600;;
  }
  .menu{
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    border-top: 3px solid gray;
    top: 15vh;
    right: 0;
    height: 50vh;
    width: 100%;
    background:rgb(251, 248, 248);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.MobileNavigation{
  display: block;
}
.DesktopNavigation{
  display: none;
}
}